<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bootable</key>
	<false/>
	<key>BusProtocol</key>
	<string>Secure Digital</string>
	<key>CanBeMadeBootable</key>
	<false/>
	<key>CanBeMadeBootableRequiresDestroy</key>
	<false/>
	<key>Content</key>
	<string>Windows_FAT_32</string>
	<key>DeviceBlockSize</key>
	<integer>512</integer>
	<key>DeviceIdentifier</key>
	<string>disk4s1</string>
	<key>DeviceNode</key>
	<string>/dev/disk4s1</string>
	<key>DeviceTreePath</key>
	<string>IODeviceTree:/arm-io@10F00000/apcie0@B0000000/pci-bridge1@1/pcie-sdreader@0</string>
	<key>Ejectable</key>
	<true/>
	<key>EjectableMediaAutomaticUnderSoftwareControl</key>
	<true/>
	<key>EjectableOnly</key>
	<true/>
	<key>FilesystemName</key>
	<string>MS-DOS FAT32</string>
	<key>FilesystemType</key>
	<string>msdos</string>
	<key>FilesystemUserVisibleName</key>
	<string>MS-DOS (FAT32)</string>
	<key>FreeSpace</key>
	<integer>29052506112</integer>
	<key>GlobalPermissionsEnabled</key>
	<false/>
	<key>IOKitSize</key>
	<integer>29118954496</integer>
	<key>IORegistryEntryName</key>
	<string>Untitled 1</string>
	<key>Internal</key>
	<true/>
	<key>MediaName</key>
	<string></string>
	<key>MediaType</key>
	<string>Generic</string>
	<key>MountPoint</key>
	<string>/Volumes/MEGA65FDISK</string>
	<key>OSInternalMedia</key>
	<false/>
	<key>ParentWholeDisk</key>
	<string>disk4</string>
	<key>PartitionMapPartition</key>
	<true/>
	<key>PartitionMapPartitionOffset</key>
	<integer>1048576</integer>
	<key>RAIDMaster</key>
	<false/>
	<key>RAIDSlice</key>
	<false/>
	<key>Removable</key>
	<true/>
	<key>RemovableMedia</key>
	<true/>
	<key>RemovableMediaOrExternalDevice</key>
	<true/>
	<key>SMARTDeviceSpecificKeysMayVaryNotGuaranteed</key>
	<dict/>
	<key>SMARTStatus</key>
	<string>Not Supported</string>
	<key>Size</key>
	<integer>29118954496</integer>
	<key>SupportsGlobalPermissionsDisable</key>
	<false/>
	<key>SystemImage</key>
	<false/>
	<key>TotalSize</key>
	<integer>29061902336</integer>
	<key>VolumeAllocationBlockSize</key>
	<integer>4096</integer>
	<key>VolumeName</key>
	<string>MEGA65FDISK</string>
	<key>VolumeSize</key>
	<integer>29061902336</integer>
	<key>VolumeUUID</key>
	<string>83FFC12E-67E1-307F-91AD-E584C2E01E87</string>
	<key>WholeDisk</key>
	<false/>
	<key>Writable</key>
	<true/>
	<key>WritableMedia</key>
	<true/>
	<key>WritableVolume</key>
	<true/>
</dict>
</plist>
